In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import RFE
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesClassifier

In [2]:
df=pd.read_csv('input/banking.csv')

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp_var_rate      41188 non-null float64
cons_price_idx    41188 non-null float64
cons_conf_idx     41188 non-null float64
euribor3m         41188 non-null float64
nr_employed       41188 non-null float64
y                 41188 non-null int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

In [5]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [6]:
df['marital'].unique()

array(['married', 'single', 'divorced', 'unknown'], dtype=object)

In [7]:
df['marital'].replace('married',value=0,inplace=True)
df['marital'].replace('single',value=1,inplace=True)
df['marital'].replace('divorced',value=2,inplace=True)
df['marital'].replace('unknown',value=3,inplace=True)
df['marital'].value_counts()

0    24928
1    11568
2     4612
3       80
Name: marital, dtype: int64

In [8]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,0,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,0,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,1,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,0,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,0,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [9]:
df['month'].unique()

array(['aug', 'nov', 'jun', 'apr', 'jul', 'may', 'oct', 'mar', 'sep',
       'dec'], dtype=object)

In [10]:
dict1={'aug':1, 'nov':2, 'jun':3, 'apr':4, 'jul':5, 'may':6, 'oct':7, 'mar':8, 'sep':9,
       'dec':10}
df['month']=df['month'].map(dict1)

In [11]:
df['job'].unique()

array(['blue-collar', 'technician', 'management', 'services', 'retired',
       'admin.', 'housemaid', 'unemployed', 'entrepreneur',
       'self-employed', 'unknown', 'student'], dtype=object)

In [12]:
dict2={'blue-collar':0, 'technician':1, 'management':2, 'services':3, 'retired':4,
       'admin.':5, 'housemaid':6, 'unemployed':7, 'entrepreneur':8,
       'self-employed':9, 'unknown':10, 'student':11}
df['job']=df['job'].map(dict2)

In [13]:
df['education'].unique()
dict3={'basic.4y':1, 'unknown':2, 'university.degree':3, 'high.school':4,
       'basic.9y':5, 'professional.course':6, 'basic.6y':7, 'illiterate':8}
df['education']=df['education'].map(dict3)

In [14]:
df['loan'].unique()
dict4={'no':0, 'yes':1, 'unknown':2}
df['loan']=df['loan'].map(dict4)

In [15]:
df['housing'].unique()
dict5={'yes':0, 'no':1, 'unknown':2}
df['housing']=df['housing'].map(dict5)

In [16]:
dict6={'cellular':1,'telephone':2}
df['contact']=df['contact'].map(dict6)

In [17]:
df['day_of_week'].unique()
dict7={'thu':1, 'fri':2, 'tue':3, 'mon':4, 'wed':5}
df['day_of_week']=df['day_of_week'].map(dict7)

In [18]:
df['poutcome'].unique()
dict8={'nonexistent':1, 'success':2, 'failure':3}
df['poutcome']=df['poutcome'].map(dict8)

In [19]:
df['default'].unique()
dict9={'unknown':0, 'no':1, 'yes':2}
df['default']=df['default'].map(dict9)

In [20]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,0,0,1,0,0,0,1,1,1,...,1,999,0,1,1.4,93.444,-36.1,4.963,5228.1,0
1,53,1,0,2,1,1,0,1,2,2,...,1,999,0,1,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,2,1,3,1,0,0,1,3,1,...,3,6,2,2,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,3,0,4,1,1,0,1,4,2,...,2,999,0,1,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,4,0,1,1,0,0,1,1,2,...,1,3,1,2,-2.9,92.201,-31.4,0.869,5076.2,1

In [21]:
df.info()
x=df[['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed']]
y=df['y']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null int64
marital           41188 non-null int64
education         41188 non-null int64
default           41188 non-null int64
housing           41188 non-null int64
loan              41188 non-null int64
contact           41188 non-null int64
month             41188 non-null int64
day_of_week       41188 non-null int64
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null int64
emp_var_rate      41188 non-null float64
cons_price_idx    41188 non-null float64
cons_conf_idx     41188 non-null float64
euribor3m         41188 non-null float64
nr_employed       41188 non-null float64
y                 41188 non-null int64
dtypes: float64(5), int64(16)
memory usage: 6.6 MB

In [22]:
from sklearn.model_selection import train_test_split
reg=LogisticRegression(solver='lbfgs')

In [23]:
from sklearn.preprocessing import StandardScaler
scaling=StandardScaler()
x=scaling.fit_transform(x.astype(float))

In [24]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=0)
reg.fit(xtrain,ytrain)
reg.score(xtest,ytest)*100

91.17908877559277

In [25]:
from sklearn.metrics import confusion_matrix
confusion_matrix(reg.predict(xtest),ytest)

array([[10702,   811],
       [  279,   565]], dtype=int64)

In [26]:
pca=PCA(n_components=10)
Xbest=pca.fit_transform(x)
Xbest

array([[-1.54503132, -0.14935157,  2.51068925, ...,  1.21061776,
         0.56932333, -1.07674166],
       [-0.15818359, -0.7514029 ,  1.58521463, ...,  0.32480952,
         0.39376329, -0.42715688],
       [ 4.72246463,  3.69726353,  0.70629124, ...,  0.99278821,
         1.2464519 ,  0.38068487],
       ...,
       [-1.73380071,  1.22071599, -0.51192517, ..., -0.99860965,
        -1.3568078 , -0.74840922],
       [ 2.40270342,  0.1748818 , -1.34762843, ..., -2.57533621,
         2.3445595 ,  0.69161367],
       [-1.37566132,  0.65911778, -0.73509232, ..., -0.31749273,
         1.09327839, -0.18344621]])

In [27]:
xtrain,xtest,ytrain,ytest=train_test_split(Xbest,y,random_state=1,test_size=0.3)
reg.fit(xtrain,ytrain)
reg.score(xtest,ytest)

0.90515497288986

In [28]:
model=ExtraTreesClassifier(n_estimators=100)
model.fit(x,y)
print(model.feature_importances_)

[0.08754493 0.05961669 0.03256379 0.05510751 0.01065755 0.0289297
 0.02082129 0.01274668 0.01727986 0.04832208 0.26475946 0.05927058
 0.06048475 0.01218857 0.01543756 0.03456028 0.01891829 0.02302188
 0.09690668 0.04086187]

In [29]:
Xbest=RFE(reg,8).fit_transform(x,y)
xtrain,xtest,ytrain,ytest=train_test_split(Xbest,y,random_state=1,test_size=0.2)

In [30]:
reg.fit(xtrain,ytrain)
reg.score(xtest,ytest)*100

91.16290361738287